<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="za.co.placeholder.sharedelement" android:versionCode="2" android:versionName="1.5.0.5">
	<uses-sdk android:minSdkVersion="19" />
	<application android:theme="@style/Theme.AppCompat.Light" android:icon="@drawable/mvvmcross_logo"></application>
</manifest>